.header-wrapper {
    padding-bottom: 92px;
    top: 0;
    left: 0;
    right: 0;
}

.header {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    position: fixed;
    background-color: rgb(252, 252, 252);
    z-index: 1000;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 8%;
}

.header .logo >a {
    background: none;
    border: none;
    color: #000000;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 34px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.header .logo >p:active {
    color: grey;
}

.header .hcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .hlist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
}

.header .hlist >li{
    padding: 15px;
    list-style-type: none;
}

.header .logo a,
.header .hlist a {
    text-decoration: none;
    color: inherit; /* Giữ màu chữ như đã được định nghĩa */
}

.header .hright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .text-wrapper {
    padding: 10px;
    background: none;
    border: none;
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.header .text-wrapper:hover {
    background-color: rgb(241, 240, 240);
}
.header .text-wrapper:active {
    color: grey;
}

.header .icon {
    cursor: pointer;
    font-size: 20px;
}


