.header {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    width: 100%;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 8%;
}

.header .logo >button {
    background: none;
    border: none;
    color: #000000;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 34px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.header .logo >p:active {
    color: grey;
}

.header .hcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .hlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .hlist >li{
    padding: 30px;
    list-style-type: none;
}

.header .hright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .text-wrapper {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.header .text-wrapper:hover {
    background-color: rgb(241, 240, 240);
}
.header .text-wrapper:active {
    color: grey;
}

.header .icon {
    cursor: pointer;
}

.header .funny-commerce-logos
{
    width: 20%; /* Đặt độ rộng cố định */
    height: 20%; /* Đặt chiều cao cố định */
}

.header .funny-commerce-logos
{
    width: 20%; /* Đặt độ rộng cố định */
    height: 20%; /* Đặt chiều cao cố định */
}